.recipe-card-container{
  .recipe-card{
    float: left;
    margin-left: 30px;
    padding: 0.5rem 1rem;
    background-color: rgba(41, 41, 41, 0.796);
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
    color: wheat;
    text-align: center;
    width: 25%;
    border-radius: 6px;
    .recipe-card-title{
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .recipe-card-button{
      button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        color: #000;
        font-size: .9rem;
        border: none;
        font-weight: bold;
        cursor: pointer;
        &:hover{
          background-color: rgba(255, 255, 255, 0.731);
        }

      }
    }
  }
}