.App {
   
   align-items: baseline; 
}
/*  */
.bgImage{
  position: fixed;
  z-index: -1;
  width: 100%;
  filter: blur(3px);
}
.InputBoxStyle{
   position: relative;
    display: block;
    width: 70%;
    background: rgb(57 57 57 / 80%);
    border-radius: 8px;
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #ffffff;
    height: 30px;
    line-height: 1.2;
}
.inputDivStyle{
  background-color: #f8f8ffd4;
  border-radius: 10px;
  margin: 25px 30px;
  padding: 25px;
}
.card{
  position: relative;
  text-align: center;
  display: block;
  width: 200px;
  background: rgba(93, 209, 255, 0.493);
  border-radius: 20px;
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #000000;
  height: 50px;
  line-height: 1.2;
}
.button-group .Button:first-child{
  margin-right: 10px;
}

.Button{
  
  background-color: #c2fbd7;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 1em;
  height: 30px;
  padding: 0 25px;
  transition: all 200ms;
}
.Button:hover{
     background-color : #afe6c3;
     transform: scale(1.05);
}
.Addcard-group{
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-direction: row;
}

.Addcard{
  margin: 15px 10px;
  display: flex;
  position: relative;
  text-align: center;
  width: min-content;
  padding: 8px 12px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #000000;
  height: 20px;
  line-height: 1.2;
}
.Addcard svg{
  margin-left: 7px;
}

.pretty-radio {
  position: relative;
  margin-bottom: 10px;
}

.radio {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.radio-look {  
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border: 1px solid rgb(48, 46, 41);
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}

.radio-look:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  right: 5px;
  border: 1px solid rgb(48, 46, 41);
  border-radius: 50%;
}

.radio:checked + .radio-look:after {
  background: rgb(48, 46, 41);
}

.radio-group{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  color:black
}